<style>
  #dinam_block1 {
    display: block
  }
</style>
<div id="news">
  <h4 class="title">История музея</h4>
  <div class="content">
    <p>
      Наш музей расположен в самом центре Одессы, рядом со старым Городским садом, на небольшой уютной улочке, которая
      называется Гаванная.
    </p>
    <p>
      И действительно, если с Дерибасовской и Преображенской нужно было с грузом попасть в порт, то проще всего это
      можно было сделать, повернув на Гаванную: через пару кварталов, мягко и плавно перейдя в спуск и нырнув под
      своеобразный мост-виадук, улица выводит прямо к гавани.
    </p>
    <p>
      Быть может, именно поэтому на Гаванной в 1876 году по проекту известного архитектора Ф. Гонсиоровского был
      построен дом дворцового типа для одного из крупных представителей промышленно-коммерческой элиты того времени -
      Александра Яковлевича Новикова, внука знаменитого одесского купца первой гильдии Ильи Новикова, владельца
      основанной в 1806 году, канатной фабрики. В этом здании, являющемся ныне памятником архитектуры второй половины
      XIX века, и находится Одесский историко-краеведческий музей.
    </p>
    <p>
      В архитектуре двухэтажного особняка, как и в предыдущих творениях Феликса Гонсиоровского, преобладает дух
      стилизаторства. В данном случае - основанный на использовании форм позднего ренессанса, с вариацией образцов и
      мотивов, почерпнутых из архитектурного наследия Италии. Здание органично вписалось в общую планировку улицы и по
      праву вошло в число творений архитектуры, которые и создают неповторимый облик города.
    </p>
    <p>
      До 1899 года особняк на Гаванной, 4 был известен в Одессе как "Дом Новикова" (кстати, Новиковы считались не только
      крупными промышленниками, но и домовладельцами). В начале ХХ столетия его приобрели городские власти.
    </p>
    <p>
      В 1907 году дом был сдан в аренду Одесскому коммерческому собранию. После Октября 1917 года тут часто менялись
      владельцы. В парадных залах размещались то различные клубные учреждения, то ведомственные библиотеки, то областные
      партийные курсы. Полуподвальные помещения и часть залов первого этажа использовались в качестве жилого фонда.
    </p>
    <p>
      Впервые музейная экспозиция разместилась здесь в августе 1944 года: это была выставка "Героическая оборона
      Одессы", на основе которой впоследствии создали республиканский Музей обороны Одессы.
    </p>
    <p>
      А 6 мая 1956 года гостеприимно открыл двери своим первым посетителям Одесский государственный
      историко-краеведческий музей. Он был сформирован на базе Музея обороны Одессы и Одесского областного
      краеведческого музея. Документы, печатные издания, предметы прикладного и изобразительного искусства,
      нумизматические коллекции, оружие XVII - XIX веков, связанные с историей города и края и когда-то входившие в
      собрания Музея Одесского общества истории и древностей, Музея книги, Музея Старой Одессы и некоторых других,
      оказались составной частью его фондов.
    </p>
    <p>
      В 1983 году музей закрылся на капитальный ремонт, который длился долгих одиннадцать лет. В результате силами
      Одесских художественно-реставрационных мастерских дворцовые интерьеры особняка были восстановлены в своем
      первозданном виде. Преобразился, буквально ожил, внутренний дворик музея, а по сути - своего рода миниатюрный парк
      с изящным фонтаном "Грот". Особую камерность и уют ему придают традиционные для Одессы акация, каштан, липа и,
      несколько неожиданные для этих мест, крымская сосна и вечнозеленый самшит.
    </p>
    <p>
      По мере накопления материалов в ходе научно-исследовательской и собирательской работы будут создаваться и другие
      экспозиции, раскрывающие самые различные аспекты жизни нашего города и края.
    </p>
  </div>
</div>
<script>
  $("#o_musee").addClass("active");
  $("#e-1-1").addClass("current");
</script>