<style>
  #dinam_block1 {
    display: block
  }
</style>
<script>
  $("#o_musee").addClass("active");
  $("#e-1-1").addClass("current");
</script>
<div id="news">
  <h4 class="title">История музея</h4>
  <div class="b-history">
    <p>
      Sorry
    </p>
    <p>
      There's no translation yet.
    </p>
  </div>
</div>
