<style>
  #dinam_block3 {
    display: block
  }
</style>
<script>
  $("#posetiteli").addClass("active");
  $("#e-3-4").addClass("current");
</script>
<div id="news">
  <h4 class="title">Дополнительные услуги</h4>
  <div class="tech">
    <hr>
    <h5>СТРАНИЦА В РАЗРАБОТКЕ</h5>
    <hr>
  </div>
</div>
