<style>
  #dinam_block1 { display: block }
</style>
<script>
  $("#o_musee").addClass("active");
  $("#e-1-6").addClass("current");
</script>
<div id="news" style="padding-bottom: auto;">
  <h4 class="title">Виртуальный тур</h4>
  <div class="tech">
    <hr>
    <h5>СТРАНИЦА В РАЗРАБОТКЕ</h5>
    <hr>
  </div>
</div>