<% content_for :about do %>
    <section class="container">
      <h4>Мемориал героической обороны Одессы</h4>
      <p>
        Мемориальный комплекс, посвящённый героической обороне Одессы во время Великой Отечественной войны. В состав
        мемориального комплекса входят музей, выставка военной техники под открытым небом, батарея береговой обороны,
        большой засаженный дубами парк. Мемориал героической обороны Одессы находится на южной окраине Одессы и
        относится к
        Киевскому району.
        На территории мемориала под открытым небом расположена выставка военной техники и вооружения армии периода
        Великой
        Отечественной войны. В том числе здесь находится известный одесский «танк» НИ («На испуг»). Это обычный трактор,
        обшитый противопульной броней (котловым железом). Такие машины изготавливались силами защитников осажденного
        города
        во время обороны Одессы.
        Среди экспонатов, на участке железнодорожного пути стоит бронепоезд, аналогичный тому, какие производились в дни
        обороны города на заводе им. Январского восстания. На другом участке выставлен трамвай, который в 1941 году
        ходил по
        маршруту «Одесса-фронт» Также под открытым небом с марта 1985 года выставлена послевоенная подводная лодка
        «Малютка»
        М-296 (А615, заводской номер 702). На лодку нанесено обозначение М-305, которое в ВМФ никогда не использовалось.
        На данный момент в экспозиции присутствуют 2 орудия Д-20 и два зенитно-ракетных комплекса не имеющих отношения
        ни к
        обороне города ни к периоду Второй Мировой войны.
      </p>
      <p>Контакты: <%= link_to 'ссылка', contact_mobile_index_path %></p>
      <h4>Болградский<br/>историко-этнографический музей</h4>
      <p>
        Болградский историко-этнографический музей один из наиболее крупных и известных районных музеев области. Здесь
        собраны богатейшие материалы, которые охватывают историю нашего региона с древнейших времен до новейшего периода
        История музея насчитывает более 50 лет. Он создавался в начале 60-х годов прошлого столетия на общественных
        началах.
        У истоков его стояли молодые педагоги: учитель истории Павел Федорович Ешмеков, ныне известный отечественный
        археолог, единственный из ведущих специалистов Украины, занимающийся изучением проблем эпохи энеолита – бронзы,
        Леонид Васильевич Субботин, и начинающий журналист Юрий Федорович Греков. Отдавая этому делу все свободное
        время,
        они привлекали также к работе в музее своих друзей, товарищей, учеников.
        Музей быстро приобрел известность. Леонид Субботин наладил тесные связи с Одесским археологическим музеем,
        Одесским
        государственным университетом им. Мечникова и другими крупными музейными и научными центрами. Болградский
        историко-краеведческий музей получил статус народного музея. Это было большим достижением.
      </p>
      <p>
        Адрес: 68700, Одесская область, г. Болград, ул. Ленина 154.<br>
        Тел. (04846) 22406
      </p>
    </section>
<% end %>