<% content_for :about do %>
    <section class="container">
      <h4>История музея</h4>
      <p>
        Наш музей расположен в самом центре Одессы, рядом со старым Городским садом, на небольшой уютной улочке, которая
        называется Гаванная.
        И действительно, если с Дерибасовской и Преображенской нужно было с грузом попасть в порт, то проще всего это
        можно
        было сделать, повернув на Гаванную: через пару кварталов, мягко и плавно перейдя в спуск и нырнув под
        своеобразный
        мост-виадук, улица выводит прямо к гавани.
        Быть может, именно поэтому на Гаванной в 1876 году по проекту известного архитектора Ф. Гонсиоровского был
        построен
        дом дворцового типа для одного из крупных представителей промышленно-коммерческой элиты того времени -
        Александра
        Яковлевича Новикова, внука знаменитого одесского купца первой гильдии Ильи Новикова, владельца основанной в 1806
        году, канатной фабрики. В этом здании, являющемся ныне памятником архитектуры второй половины XIX века, и
        находится
        Одесский историко-краеведческий музей.
        В архитектуре двухэтажного особняка, как и в предыдущих творениях Феликса Гонсиоровского, преобладает дух
        стилизаторства. В данном случае - основанный на использовании форм позднего ренессанса, с вариацией образцов и
        мотивов, почерпнутых из архитектурного наследия Италии. Здание органично вписалось в общую планировку улицы и по
        праву вошло в число творений архитектуры, которые и создают неповторимый облик города.
      </p>
      <p>
        Подробную информацию вы сможете найти <%= link_to 'здесь', history_path %>.
      </p>
    </section>
<% end %>