/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */
//     text-align: justify;
@import url(//fonts.googleapis.com/css?family=Raleway);
@import url(http://allfont.ru/allfont.css?fonts=annabelle);

@font-face {
  font-family: HelveticaRegular;
  src: url(../fonts/HelveticaRegular/HelveticaRegular.eot);
  src: url(../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/HelveticaRegular/HelveticaRegular.woff) format("woff"),
  url(../fonts/HelveticaRegular/HelveticaRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Candara;
  src: url(Candara/Candara.eot);
  src: url(Candara/Candara.eot?#iefix) format("embedded-opentype"),
  url(Candara/Candara.woff) format("woff"),
  url(Candara/Candara.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

  .zero-m-p {
    padding: 0 !important;
    margin: 0 !important;
  }
body {
  background: url(//res.cloudinary.com/orhmuseum/image/upload/v1472766032/marble_1_17.jpg) fixed;
}