body.mobile {
  background-color: whitesmoke; }
  body.mobile .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1b2e34;
    width: 100%;
    overflow: hidden; }
    body.mobile .header img {
      max-height: 75px;
      height: 100%;
      width: 100%; }
  body.mobile .m-footer {
    background-color: white; }
    body.mobile .m-footer h5 a {
      color: darkcyan !important; }
  body.mobile .logo {
    width: 100%; }
  body.mobile .no-padding {
    padding: 0 !important;
    margin: 0 !important; }
    body.mobile .no-padding .row {
      padding: 0 !important;
      margin: 0 !important;
      border-bottom: 1px solid lightgrey; }
      body.mobile .no-padding .row [class*='col-'] {
        padding: 0 !important;
        margin: 0 !important; }
  body.mobile .nav-block {
    display: flex;
    align-items: center;
    background-color: darkcyan;
    height: 100px;
    overflow: hidden;
    text-transform: uppercase;
    color: whitesmoke; }
    body.mobile .nav-block div {
      font-family: Raleway, serif; }
      body.mobile .nav-block div h4 {
        line-height: 20px;
        font-size: 1.2em; }
    body.mobile .nav-block img {
      width: 100%;
      overflow: hidden; }
  body.mobile .item {
    height: 200px;
    overflow: hidden; }
  body.mobile .flex {
    display: flex; }
  body.mobile .dropdown-menu {
    width: 100%; }
  body.mobile .m-footer {
    display: flex;
    align-items: center; }
  body.mobile .btn-dropdown {
    padding: 8px 15px;
    background-color: transparent;
    margin: 10px;
    color: darkgray !important;
    border: 1px solid darkgray !important;
    border-radius: 5px;
    font-size: 2.3em; }
  body.mobile .panel {
    border: 0 !important; }
    body.mobile .panel .list-group {
      font-family: Helvetica, serif;
      margin: 0 !important;
      text-transform: uppercase; }
      body.mobile .panel .list-group:active {
        background-color: #ddd; }
  @media (max-width: 375px) {
    body.mobile .btn-dropdown {
      padding: 6px 8px;
      font-size: 1.2em; } }
  @media (max-width: 320px) {
    body.mobile .btn-dropdown {
      padding: 6px 6px;
      font-size: 1em; } }
  @media (max-width: 768px) {
    body.mobile .btn-dropdown {
      padding: 6px 12px;
      font-size: 1.7em; } }
  body.mobile .dropdown-menu img {
    width: 20px;
    height: 20px; }
  body.mobile section.container {
    background-color: white;
    text-align: justify; }
    body.mobile section.container h4 {
      text-align: left; }
    body.mobile section.container h5 {
      text-align: left;
      font-style: italic;
      margin: 10px -15px;
      padding: 10px 15px;
      background-color: #ddd; }
      body.mobile section.container h5:first-child {
        margin-top: 0; }
    body.mobile section.container ul {
      margin-bottom: 15px; }
    body.mobile section.container .photo img {
      width: 100%;
      padding-bottom: 20px; }
  body.mobile div.current a div {
    background-color: #005d5d !important; }
  body.mobile .list-group-item {
    border-radius: 0 !important; }
  body.mobile .list-group .current {
    background-color: #ddd !important; }
  body.mobile .container .subscribe {
    padding-bottom: 20px; }
  body.mobile .panel-group {
    margin: 0 !important; }
  body.mobile .panel-default {
    margin: 0 !important; }
  body.mobile .btn-default {
    background-color: darkcyan !important;
    color: white; }
  body.mobile .full {
    background-color: white !important;
    color: darkcyan;
    border-radius: 10px;
    width: 100%; }

.carousel-caption {
  background-color: black;
  opacity: 0.6;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px !important;
  bottom: 0; }
  .carousel-caption h3 {
    text-align: left;
    margin: 0 !important;
    font-family: Annabele, serif;
    font-style: italic; }

@media (min-width: 992px) {
  .container {
    width: auto !important; } }

/*# sourceMappingURL=mobile.css.map */
