body.desktop {
  color: black;
  min-width: 1200px;
  //font-family: Candara, serif;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  p {
    font-family: Helvetica, Arial, sans-serif;
  }

  a {
    color: white;
    &:hover {
      background: none;
    }
  }

  header {
    padding: 0;
    background: #1b3237;
    width: 100%;

    .b-header {
      display: table;
      margin: 0 auto;

      img {
        height: 30px;
        width: 30px;
      }

      #head {
        width: 1100px;
        height: auto;
        position: relative;
        overflow: hidden;
      }

      ul {
        list-style: none;
        top: 0;
        margin: 0;
        padding: 0 5px;
      }

      li {
        font: 20px 'Helvetica', serif;
        padding: 5px;
      }

      div {
        display: inline-block;
      }
    }
  }

  .no-padding > [class*='col-'] {
    padding: 0 !important;
    margin: 0 !important;
  }

  .nav {
    width: 100%;
    height: 39px;
    background-color: #3AA3A4;

    .nav-bar {
      display: table;
      width: 1100px;
      margin: 0 auto;
      font: 18px "Palatino Linotype", serif;

      form {
        margin-top: 6px;
      }
      input {
        height: 22px;
      }
      img {
        margin-left: 5px
      }
      button {
        height: 22px;
        border-radius: 10px;
        background: url(https://res.cloudinary.com/orhmuseum/image/upload/v1472765999/Button_15-128.png) no-repeat;
        &:hover {
          background-color: #1582ca;
          border-color: #1582ca
        }
      }

      .subscribe {
        border: 0;
        color: #FFFDB5;
        text-transform: uppercase;
        border-radius: 0;
        height: 39px;
        padding: 4px 10px;
        background: transparent;
        font-family: Raleway, serif;
        &:hover {
          border: 0;
          background: #1b3237;
        }
        &:focus {
          border: 0 !important;
        }
        &:visited {
          border: 0;
        }
      }

      .nav-menu {
        display: flex;
        width: 750px;
        height: 39px !important;
        padding: 0;
        font-family: serif;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        a {
          flex-grow: 1;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          &:focus {
            color: white
          }
          &:hover {
            color: #1b3237;
          }
        }
      }
    }

  }

  .active {
    background-color: #1b3237;
    color: white
  }

  .active h4 {
    color: white
  }

  .active h4:hover {
    color: white
  }

  .active h4:focus {
    color: white
  }

  //#nav-1 {
  //  width: 130px
  //}
  //
  //#nav-2 {
  //  width: 160px
  //}
  //
  //#nav-3 {
  //  width: 228px
  //}
  //
  //#nav-4 {
  //  width: 174px
  //}

  #content {
    text-align: center;
  }

  #wrapper {
    width: 1100px;
    margin: 0 auto;
    text-align: left;
  }

  .dinam {
    margin: 0 auto;
    display: table;
  }

  .dinam_blocks {
    width: 1100px;
    height: 155px;
    background-color: white;
    display: none;
  }

  .dinam_blocks > img {
    width: 155px;
    height: 155px;
    float: left;
  }

  #dinam_block_sp {
    display: block;
    float: left;
    margin-top: 5px;
    list-style-type: disc;
    padding-left: 15px;
    text-align: left;
  }

  #dinam_block_sp .current {
    list-style-type: none;
    margin-left: -9px;
  }

  #dinam_block_sp .current a {
    font-weight: bold;
  }

  #dinam_block_sp .current :before {
    content: "▶  ";
  }

  #dinam_block_sp > li {
    margin-left: 10px;
  }

  #dinam_block_sp > li > a {
    text-decoration: none;
    color: black;
  }

  #dinam_block_sp > li > a:hover {
    color: #3aa3a4;
  }

  #din_expo {
    padding-top: 7px;
    a {
      &:hover {
        text-decoration: none;

      }
    }
  }

  #din_expo .current {
    list-style-type: none;
    margin-left: -19px;
    a {
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }

  #din_expo .current :before {
    content: "▶  ";
  }

  #din_expo {
    display: none;
    width: 756px;
    height: 135px;
    background-color: #FFFDB5;
    margin: 10px 20px 10px 334px;
  }

  #din_expo > div {
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: top
  }

  #din_expo > div > div {
    padding: 5px 0 0;
    margin-left: 16px
  }

  #din_expo > div > h6 {
    list-style: none;
    padding: 0;
    margin: 0;
    font: bold italic 18px Candara, serif;
  }

  #din_expo {
    li {
      list-style-type: disc;
    }
    ul {
      padding-left: 0 !important;
    }
  }

  #din_expo > div > div > ul > li > a {
    color: black
  }

  #din_expo > div > div > ul > li > a:hover {
    color: #3aa3a4
  }

  #din_edition .current {
    list-style-type: none;
    margin-left: -19px;
  }

  #din_edition .current a {
    font-weight: bold;
  }

  #din_edition .current :before {
    content: "▶  ";
  }

  #din_edition {
    display: none;
    width: 745px;
    height: 135px;
    background-color: #FFFDB5;
    margin: 10px 20px 10px 345px;
  }

  #din_edition > div {
    display: inline-block;
    margin: 13px 25px 0 0;
    vertical-align: top
  }

  #din_edition li {
    list-style-type: none;
    margin-top: 3px;
  }

  #din_edition > div > ul > li > a {
    color: black
  }

  #din_edition > div > ul > li > a:hover {
    color: #3aa3a4;
    text-decoration: none;
  }
  #din_edition > div > ul > li > a:visited {
    text-decoration: none;
  }
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
        transition-duration: 4s;
      }
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .carousel {
    width: 750px;
    margin-top: 10px;
    .carousel-caption {
      background-color: black;
      opacity: 0.6;
      width: 100%;
      height: 59px;
      left: 0;
      right: 0;
      padding: 15px 15px 15px 45px !important;
      bottom: 0;
      h3 {
        font-size: 27px;
        text-align: left;
        margin: 0 !important;
        font-family: 'Annabelle', serif;
      }
    }
  }

  .contact-text {
    padding: 20px;
    font-family: Candara, serif;
  }

  .contact {
    float: right;
    width: 340px;
    height: 350px;
    background-color: #1b3237;
    text-align: left;
    line-height: 22px;
    border-radius: 20px;
    margin: 10px 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
        color: white
      }
    }
    h4 {
      margin: 0;
      color: white;
      font-size: 16px;
      padding-bottom: 5px;
    }
    p {
      color: #1383cb;
      font-size: .95em;
      padding-bottom: 10px;
      line-height: 18px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  #news {
    width: 750px;
    height: auto;
    min-height: 300px;
    background-color: white;
    float: left;
    margin: 10px 0 60px;
  }

  .title {
    background-color: #3aa3a4;
    margin: 0 0 5px 0;
    padding: 4px 0;
    text-align: center;
    color: white;
    font: 19px "Palatino Linotype", serif;
  }

  .topic {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }

  .news-title {
    font: italic 16px Candara, serif;
    margin-top: 15px;
    margin-bottom: 0;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        font-weight: bold;
        text-decoration: none;
      }
    }
    span {
      font-size: .8em;
    }
  }

  .news-author {
    color: #3aa3a4;
  }

  .news-content {
    margin: 0 0 10px 15px;
    font-family: 'Raleway', serif;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0 25px 15px;
    box-shadow: 0 7px 10px -10px #333;
    .readmore {
      margin-top: -15px;
      justify-content: flex-end;
      align-self: flex-end;
      a {
        color: #3aa3a4;
      }
    }
  }

  .news-content img {
    width: 150px;
    height: 150px;
    float: left;
    padding: 3px 15px 0 0;
  }

  .datetime {
    float: right;
  }

  .s-text {
    padding-right: 5px;
    font-size: smaller
  }

  #exposition:before {
    content: "";
    display: table;
    clear: both;
  }

  #exposition {
    float: right;
    width: 340px;
    //background-color: #D1E1E6;
    margin: 0 0 60px;
    h4 {
      margin: 0 !important;
    }
    .announcement {
      background-color: #fffdb5;
      div {
        p {
          color: #3aa3a4;
        }
      }
    }
    .now {
      background-color: #d1e1e6;
      div {
        a {
          color: rgb(68, 68, 68);
        }
        p {
          color: #777;
        }
      }
    }
    div {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #3aa3a4;

      div {
        padding: 10px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px dotted #3aa3a4;
        &:last-child {
          border-bottom: none;
        }
        a {
          font: italic 17px Candara, serif;
          color: black;
          &:hover {
            font-weight: bold;
            //color: #3aa3a4;
            text-decoration: none;
          }
        }
        p {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #999999;
        }
      }

      //background-color: #d1e1e6;
    }
  }

  .exposition-sp {
    padding: 0 0 10px 15px;
    font: 14px "Raleway", serif;
    list-style: none;
  }

  .exposition-sp > li {
    margin: 0 -10px 5px -12px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
  }

  .exposition-sp > li > a {
    color: black;
  }

  .exposition-sp > li > a:hover {
    color: #3aa3a4;
    text-decoration: none;
    font-weight: bold;
  }

  .cl {
    background-color: #a1bac2;
  }

  .b-contact {
    padding: 0 15px 20px 25px;
    img {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
    h3 {
      padding-bottom: 10px;
      &:first-child {
        padding-top: 10px
      }
    }
    p {
      padding-left: 410px
    }
  }

  .map {
    border: 0;
    float: left;
  }

  .b-history {
    text-align: justify;
    margin: 10px 20px;
    padding-bottom: 30px;
  }

  .b-history img {
    display: inline;
    margin-left: 17px
  }

  .b-history h4 {
    font-weight: bold
  }

  .b-history h4 {
    margin-top: 40px
  }

  .b-history h4:first-child {
    margin-top: 30px
  }

  .modal-header {
    padding: 35px 30px 0;
    border: none;
    .modal-title {
      color: #3aa3a4;
    }
  }
  .modal-body {
    padding: 18px 30px 30px;
    p {
      text-indent: 20px;
    }
    .annot {
      margin: 50px -10px -10px;
      padding: 10px;
      font-style: italic;
      color: #1b3237;
      background-color: #eeeeee;
      text-align: left;
      p {
        text-indent: 0 !important;
      }
      ol {
        counter-reset: item;
        margin-left: 0;
        padding-left: 0;
      }
      li {
        display: block;
        margin-bottom: .5em;
        margin-left: 2em;
      }
      li::before {
        display: inline-block;
        content: "(" counter(item) ") ";
        counter-increment: item;
        width: 2em;
        font-style: normal;
        color: #1582ca;
        margin-left: -2em;
      }
    }
  }

  td {
    border-top: 1px solid #797f9f !important;
    border-left: 1px solid #797f9f;
  }
  .expo-name {
    width: 330px;
  }
  .table-striped {
    text-align: left;
    border-right: 1px solid #797f9f;
    border-bottom: 1px solid #797f9f;
    a {
      color: black !important;
      &:hover {
        color: #3aa3a4 !important;
        text-decoration: none !important;
      }
    }
    tbody {
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:nth-child(odd) {
        background-color: #d1e1e6;
      }
    }

  }
  .list li {
    margin: 0 30px 0
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #3aa3a4;
  }

  footer a {
    float: left;
    color: white;
    padding: 5px 10px 0;
  }

  footer a:first-child {
    color: white;
    padding: 5px 10px 0 0;
  }

  footer p {
    color: white;
    padding-top: 5px;
  }

  footer .container {
    max-width: 1100px
  }

  .tech {
    width: 650px;
    text-align: center;
    vertical-align: middle;
    margin: 100px 50px 50px;
    color: #616161;
  }

  .tech hr {
    margin: 0;
    border-top: 2px solid #a1a1a1;
  }

  .photo {
    text-align: center;
    margin: 10px;
  }

  .photo img {
    margin: 10px;
    object-fit: cover;
    width: 220px;
    height: 220px;
  }

  .online {
    text-align: center;
    margin: 10px;
  }

  .online img {
    margin: 10px;
    object-fit: cover;
    width: 220px;
    height: 220px;
  }

  #images li {
    list-style: none
  }

  .content {
    &-header {
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 30px;
      color: #3aa3a4;
    }
    padding: 10px 30px 30px;
    text-align: justify;
    .images {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: space-between;
      a {
        margin-top: 20px;
      }

      .wth-title {
        color: #333;
        text-align: center;
        margin-top: 0;
        h5 {
          font-weight: bold;
        }
        &:hover {
          text-decoration: none;
          color: #3aa3a4;
        }
      }
    }
    .no-img-padding {
      a {
        margin-top: 0 !important;
      }
    }
  }
  .show {
    h3 {
      font-style: italic;
      font-family: serif;
    }
    h5 {
      color: #999;
      margin: 5px 0;
    }
    p {
      text-align: left;
    }
    .fancybox {
      img {
        margin: 0 30px 20px 0;
        float: left;
      }
    }
  }

  .zero-m-p {
    margin: 0;
    padding: 0;
  }

  aside {
    float: right;
  }

  .fancybox-skin {
    .fancybox-title-float-wrap {
      top: 0 !important;
      width: 100% !important;
      .child {
        width: 100% !important;
        color: black !important;
        background-color: #f9f9f9 !important;
        border-radius: 0 !important;
        font-size: 15px !important;
        text-shadow: none !important;
      }
    }
  }
}

$bb: 1px solid whitesmoke;
$dark_mod_cyan: #3aa4a4;
body.mobile {
  background-color: whitesmoke;

  .m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2e34;
    width: 100%;
    overflow: hidden;

    img {
      //max-height: 75px;
      height: 100%;
      width: 100%;
    }
  }

  .m-footer {
    //border-top: 3px solid darkgray !important;
    background-color: white;
    h5 {
      a {
        color: darkcyan !important;

      }
    }
  }

  .logo {
    padding: 3px;
    //height: 75px !important;
    //width: calc(75px * 5) !important;
  }

  .no-padding {
    padding: 0 !important;
    margin: 0 !important;

    .row {
      padding: 0 !important;
      margin: 0 !important;
      border-bottom: $bb;

      [class*='col-'] {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
  .in {
    background-color: #005d5d !important;
  }
  .nav-block {
    display: flex;
    align-items: center;
    background-color: darkcyan;
    min-height: 70px;
    height: calc((100vh - 310px) / 3);
    max-height: calc(100vw / 4);
    overflow: hidden;
    text-transform: uppercase;
    color: whitesmoke;
    div {
      font-family: Raleway, serif;
      h4 {
        line-height: 20px;
        font-size: 1.2em;
      }
    }
    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .item {
    //height: 200px;
    overflow: hidden;
  }

  .flex {
    display: flex;
  }

  .dropdown-menu {
    width: 100%;
  }

  .m-footer {
    display: flex;
    align-items: center;
  }

  .btn-dropdown {
    padding: 8px 15px;
    background-color: transparent;
    margin: 10px;
    color: darkgray !important;
    border: 1px solid darkgray !important;
    border-radius: 5px;
    font-size: 2.3em;
  }

  .panel {
    border: 0 !important;
    .list-group {
      font-family: Helvetica, serif;
      margin: 0 !important;
      text-transform: uppercase;

      &:active {
        background-color: #ddd;
      }
      a:visited {
        color: black;
      }
      &-item {
        border: 0;
        border-bottom: 1px solid white;
      }
    }
  }

  @media (max-width: 375px) {
    .btn-dropdown {
      padding: 6px 8px;
      font-size: 1.2em;
    }
  }

  @media (max-width: 320px) {
    .btn-dropdown {
      padding: 6px 6px;
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .btn-dropdown {
      padding: 6px 12px;
      font-size: 1.7em;
    }
  }

  .dropdown-menu {
    img {
      width: 20px;
      height: 20px;
    }
  }

  section.container {
    background-color: white;
    text-align: justify;
    h4 {
      text-align: left;
      color: #008b8b;
    }
    h5 {
      text-align: left;
      font-style: italic;
      margin: 10px -15px;
      padding: 10px 15px;
      background-color: #008b8b;
      color: white;
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-bottom: 15px;
    }
    iframe {
      margin-bottom: 10px;
    }
    .photo {
      img {
        width: 100%;
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
    a {
      &:visited {
        color: black;
      }
      &:hover {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
    }
    .current-expo {
      a {
        color: #008b8b;
      }
    }
    .logo-social {
      height: 40px;
      margin: 10px 0 10px 10px !important;
    }
  }

  div.current {
    a {
      div {
        background-color: #005d5d !important;
      }
    }
  }

  .list-group {
    &-item {
      background-color: #d1e1e6 !important;
      border-radius: 0 !important;
      border-bottom: 1px solid white;
    }
    .current {
      background-color: #005d5d !important;
      color: white;
    }
  }

  .container {
    .subscribe {
      padding-bottom: 20px;
    }
  }

  .panel-group {
    margin: 0 !important;
  }

  .panel-default {
    margin: 0 !important;
  }

  .btn-default {
    background-color: darkcyan !important;
    color: white;
  }
  .full {
    background-color: white !important;
    color: darkcyan;
    border-radius: 10px;
    width: 100%;
  }
  .carousel-caption {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px !important;
    bottom: 0;
    h3 {
      text-align: left;
      margin: 0 !important;
      font-family: Annabele, serif;
      font-style: italic;
    }
  }
  .carousel-inner {
    .item {
      img {
        border: 0 !important;
      }
    }
  }

  @media (min-width: 992px) {
    .container {
      width: auto !important;
    }
  }
  .no-underline {
    text-decoration: none;
    &:hover {
      text-decoration: none;

    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}