<% content_for :about do %>
    <%= render 'pages/expositions' %>
    <section class="container">
      <h4>Музей "Музей степова Україна"</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula pharetra dui, eu semper nisl vulputate
        dictum. Proin sed lacus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Vestibulum feugiat placerat lorem a ullamcorper. Suspendisse quis gravida risus. Etiam congue eget sem
        vitae tempor. In feugiat dui dui, a vestibulum orci viverra ut. Duis congue nunc at mauris consectetur egestas.
        Vestibulum aliquet sem quis leo tempus pretium. Duis pulvinar elit a risus feugiat, in condimentum felis mattis.
      </p>
      <p>
        Praesent mi est, feugiat ut leo in, aliquam pellentesque arcu. Nulla ac metus dolor. Nam condimentum nulla
        pharetra commodo vestibulum. Vestibulum tellus urna, mollis sit amet libero a, convallis convallis turpis. Donec
        dictum ipsum quis efficitur rhoncus. Quisque sit amet tellus aliquet, convallis ante at, aliquam lorem.
        Phasellus bibendum nunc eu eros lacinia, vel molestie tellus imperdiet. Donec ornare ullamcorper feugiat.
        Curabitur bibendum elit sit amet risus aliquam dapibus.
      </p>
      <p>
        Phasellus condimentum, dui at porta posuere, nulla quam ullamcorper sem, sed rhoncus neque felis non leo. Nulla
        posuere magna vel ante maximus scelerisque. Proin suscipit, leo lacinia interdum tempus, ipsum lacus dignissim
        felis, vitae auctor ante ex vel lorem. In gravida, elit vitae congue interdum, risus risus ornare nunc, at
        vulputate erat sapien non nibh. Maecenas mi tortor, egestas eu venenatis sit amet, facilisis nec purus. Donec
        non eros ornare lectus efficitur consequat a et mi. Vivamus imperdiet dui vitae viverra tincidunt. Suspendisse
        id quam euismod, porta eros non, facilisis diam. Nullam lacinia nisi sed lorem iaculis sagittis. Duis et lacus
        et purus porta iaculis sit amet fringilla turpis. Donec ullamcorper ultricies velit, eget efficitur nisi
        bibendum vel. Sed nec lacus et libero commodo dictum. Sed accumsan efficitur justo, a sagittis lacus sodales in.
      </p>

      <div class="photo">
        <%= cl_image_tag 'expositions/6.музей степова украина/IMG_5655.jpg' %>
        <%= cl_image_tag 'expositions/6.музей степова украина/IMG_5650.jpg' %>
        <%= cl_image_tag 'expositions/6.музей степова украина/IMG_5660.jpg' %>
      </div>
    </section>
<% end %>
