<% content_for :information do %>
    <section class="container subscribe">
      <h4 style="font-family: Raleway, serif; text-align: justify; font-size: 20px">Будьте в курсе наших событий</h4>
      <%= render 'form' %>
    </section>
<% end %>