<div class="contact">
  <div class="contact-text">
    <h4>
      <%= link_to('/contact', anchor: 'gavana') do %>
          Одеський історико-краєзнавчий музей
      <% end %>
    </h4>
    <p>
      вул. Гаванна, 4 
      <br> +38(048)726-26-08, +38(048)725-52-02
      <br>
      <% if Date.today.month.in?(5..9) %>
          <a href="/contact#gavana" rel="popover" data-placement="left"
             data-content="* до 20.30 можна відвідати тільки експозцію «Стара Одеса» та внутрішній двір музею"
          >* щоденно з 10.00 до 20.30</a>, без вихідних
      <% else %>
          щоденно з 10.00 до 17.30, вихідний – Пт
      <% end %>
    </p>
    <h4>
      <%= link_to('/contact', anchor: 'lanzh') do %>
          Музей "Степова Україна",<br> Виставкова зала
      <% end %>
    </h4>
    <p>
      вул. Ланжеронівська, 24-а 
      <br> +38(048)726-26-08
      <br> з 10.00 до 17.30, вихідний – Чт, Пт
    </p>
    <h4>
      <%= link_to('/contact', anchor: '411') do %>
          Меморіал героїчної оборони Одеси (411 берегова батарея)
      <% end %>
    </h4>
    <p>
      вул. Дача Ковалевського, 150 
      <br> +38(048)726-26-08
      <br> з 10.00 до 17.30, вихідний – Пт
    </p>
  </div>
</div>
