<div class="contact">
  <div class="contact-text">
    <h4>
      <%= link_to('/contact', anchor: 'gavana') do %>
          Odessa Regional History museum
      <% end %>
    </h4>
    <p>
      4, Havanna str.
      <br>
      +38(048)726-26-08, +38(048)725-52-02
      <br>
      <% if Date.today.month.in?(5..9) %>
          <a href="/contact#gavana" rel="popover" data-placement="left"
             data-content="* you can visit only the main exhibition &nbsp; &nbsp; &nbsp; “Old Odessa” until 20.30 and the courtyard of the museum"
          >* Open daily 10.00-20.30</a>
      <% else %>
          Open 10.00-17.30, closed: Friday
      <% end %>
    </p>
    <h4>
      <%= link_to('/contact', anchor: 'lanzh') do %>
          Museum “Stepova Ukraine”,<br> Exhibition Hall
      <% end %>
    </h4>
    <p>
      24a, Lanzheronovskaya str.
      <br> +38(048)726-26-08
      <br> Open 10.00-17.30, closed: Tuesday, Friday
    </p>
    <h4>
      <%= link_to('/contact', anchor: '411') do %>
          Memorial of Heroic Defense of Odessa Museum
      <% end %>
    </h4>
    <p>
      150, Datcha Kovalevskogo str.
      <br> +38(048)726-26-08
      <br> Open 10.00-17.30, closed: Friday
    </p>
  </div>
</div>
