<div class="contact">
  <div class="contact-text">
    <h4>
      <%= link_to('/contact', anchor: 'gavana') do %>
          Одесский историко-краеведческий музей
      <% end %>
    </h4>
    <p>
      ул. Гаванная, 4
      <br> +38(048)726-26-08, +38(048)725-52-02
      <br>
      <% if Date.today.month.in?(5..9) %>
          <a href="/contact#gavana" rel="popover" data-placement="left"
             data-content="* до 20.30 можно посетить только экспозицию «Старая Одесса» и дворик музея"
          >* с 10.00 до 20.30,</a> без выходных
      <% else %>
          ежедневно с 10.00 до 17.30, выходной - Пт
      <% end %>
    </p>
    <h4>
      <%= link_to('/contact', anchor: 'lanzh') do %>
          Музей "Степова Україна",<br> Виставочный зал
      <% end %>
    </h4>
    <p>
      ул. Ланжероновская, 24-а
      <br> +38(048)726-26-08
      <br> ежедневно с 10.00 до 17.30, выходной - Пт
    </p>
    <h4>
      <%= link_to('/contact', anchor: '411') do %>
          Мемориал героической обороны Одессы (411 береговая батарея)
      <% end %>
    </h4>
    <p>
      ул. Дача Ковалевского, 150
      <br> +38(048)726-26-08
      <br> ежедневно с 10.00 до 17.30, выходной - Пн
    </p>
  </div>
</div>
