<div class="contact">
  <div class="contact-text">
    <h4>
      <%= link_to('/contact', anchor: 'gavana') do %>
          Одесский историко-краеведческий музей
      <% end %>
    </h4>
    <p>
      ул. Гаванная, 4
      <br> +38(048)726-26-08, +38(048)725-52-02
      <% if Date.today.month.in? (5..9)  %>
        <br> ежедневно с 10.00 до 17.00, выходной - Пт
      <% else %>
        <br> с 10.00 до 20.30, без выходных<br> касса работает до 20.00
      <% end %>
    </p>
    <h4>
      <%= link_to('/contact', anchor: 'lanzh' ) do %>
          Музей "Степова Україна",<br> Виставочный зал
      <% end %>
    </h4>
    <p>
      ул. Ланжероновская, 24-а
      <br> +38(048)726-26-08
      <br> ежедневно с 10.00 до 17.00, выходной - Пт
    </p>
    <h4>
      <%= link_to('/contact', anchor: '411') do %>
          Мемориал героической обороны Одессы (411 береговая батарея)
      <% end %>
    </h4>
    <p>
      ул. Дача Ковалевского, 150
      <br> +38(048)726-26-08
      <br> ежедневно с 10.00 до 17.00, выходной - Пн
    </p>
  </div>
</div>
