  <div class="container">
    <a href="how.php">Как нас поддержать</a>
    <a href="partners.php">Наши партнеры</a>
    <a href="tenders.php">Тендеры</a>
    <a href="contacts.php">Контакты</a>
    <p class="pull-right">КУ "Одесский историко-краеведческий музей"</p>
  </div>