<div class="container">
  <a href="/how">Як нас знайти</a>
  <a href="/partners#news">Наші партнери</a>
  <a href="/tenders">Тендери</a>
  <a href="/contacts">Контакти</a>
  <p class="pull-right">КУ "Одеський історико-краєзнавчий музей"</p>
</div>